
.sec{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-shrink: 0;
}
.header{
    color: white;
    font-size: 40px;
    border:5px white solid;
    padding: 5px;
    text-align: center;
    margin: 20px;
    scroll-snap-align: inherit;
}
.subhead{
    display: flex;
    margin: 20px;
    padding: 5px;
    border:3px white solid;
    cursor: pointer;
    position: sticky;
    top: 40px;
}
.head{
    margin: 5px;
    background-color: white;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #004bd9;

}
.join{
    margin:auto;
    display: flex;
    width: 90%;
    max-width: 800px;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-type: y mandatory;
}
.left,.right{
    display: flex;
    margin-right: auto;
    height: 50vh;
    max-width: 70%;
    margin: 20px;
    margin-left: 0;
    transition: .5s;
    scroll-snap-align: inherit;
}
.right{
    margin-left: auto;
    margin-right: 0;
}
.img{
    width: 300px;
    height: 300px;
    display: flex;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #004bd9;
    font-size: 5vh;
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    font-weight: bold;
}