.content{
    width: 300px;
    padding: 10px;
}
.stadium{
    width: 100%;
    height: 400px;
    background-color: green;
    position: relative;
    border:1px white solid;
}
.lines{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gkl1{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    left: 100px;
    border-bottom:1px white solid;
    border-left:1px white solid;
    border-right:1px white solid;
    color: white;
    text-align: center;
    line-height: 50px;
}
.center{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:1px white solid;
    top: 150px;
    left: 100px;
    color: white;
    text-align: center;
    line-height: 99px;
}
.half{
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom:1px white solid;
    top: 201px;
}
.gk2{
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 0;
    left: 100px;
    border-top:1px white solid;
    border-left:1px white solid;
    border-right:1px white solid;
    color: white;
    text-align: center;
    line-height: 50px;
}
.players{
    position: absolute;
    top: 0;
    left: 0;
}
.gk, .lb, .cb, .rb, .cm, .lw, .rw{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: transparent;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-size: medium;
    line-height: 50px;
    border:0px white solid;
    z-index: 0;
    transition: .3s;
    cursor: default;
}
.gk{
    background-color: transparent;
    bottom: -395px;
    left: 125px;
}
.gk:hover{
    width: 150px;
    z-index: 2;
    left: 75px;
    color: transparent;
}
.gk:hover .name{
    opacity: 1;
    transition: .3s;
}
.gk:hover .form{
    display: none;
}
.lb{
    bottom: -300px;
    left: 25px;
    transition: .3s;
}
.lb:hover{
    width: 150px;
    z-index: 2;
    left: -25px;
    color: transparent;
}
.lb:hover .name{
    opacity: 1;
    transition: .3s;
}
.lb:hover .form{
    display: none;
}
.rb{
    right: -275px;
    bottom: -300px;
}
.rb:hover{
    width: 150px;
    z-index: 2;
    right: -325px;
    color: transparent;
}
.rb:hover .name{
    opacity: 1;
    transition: .3s;
}
.rb:hover .form{
    display: none;
}
.cb{
    bottom: -325px;
    left: 125px;
}
.cb:hover{
    width: 150px;
    z-index: 2;
    left: 75px;
    color: transparent;
}
.cb:hover .name{
    opacity: 1;
    transition: .3s;
}
.cb:hover .form {
    display: none;
}
.cm{
    top: 175px;
    left: 125px;
}
.cm:hover{
    width: 150px;
    z-index: 2;
    left: 75px;
    color: transparent;
}
.cm:hover .name{
    opacity: 1;
    transition: .3s;
}
.cm:hover .form{
    display: none;
}
.lw{
    top: 100px;
    left: 25px;
}
.lw:hover{
    width: 150px;
    z-index: 2;
    left: -25px;
    color: transparent;
}
.lw:hover .name{
    opacity: 1;
    transition: .3s;
}
.lw:hover .form{
    display: none;
}
.rw{
    top: 100px;
    left: 225px;
}
.rw:hover{
    width: 150px;
    z-index: 2;
    left: 175px;
    color: transparent;
}
.rw:hover .name{
    opacity: 1;
    transition: .3s;
}
.rw:hover .form{
    display: none;
}
.name{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition:.3s;
    color: white;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: darkgreen;
    border-radius: 60px;
}
.shirt{
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
}
.form{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    opacity: 1;
    transition: .3s;
    height: 50px;
    z-index: 2;
}