*{
  box-sizing: border-box;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: lightsteelblue;
  min-height: 100%;
  height: 100%;
  background-image: url('/img/stadium.png');
  background-size: cover;
  background-position: center;
  overflow: auto;
}
body>div{
  height: 100%;
}
.main{
  height: auto;
  width: 100%;
  margin-top: 20px;
}
input{
  background-color: transparent;
  border:0;
}
input:focus {
  outline: none;
}
input:hover{
  outline:none;
}
input::placeholder{
  color: #333;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button{
  border:0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: white;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  background-color: #1a1a1a;
  cursor: pointer;
}
div{
  cursor: default;
}
select{
  background-color: transparent;
  border: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:hover{
  outline: none;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #004bd9;
  border-radius: 8px;
}
a{
  text-decoration: none;
  color: #004bd9;
}
.content1{
  margin: auto;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-snap-type: mandatory;
}
.content{
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}